@main(null) {

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">Simple Chat</a>
	  </div>
	  <div class="navbar-collapse collapse">
	    <div class="navbar-form navbar-right">
	      <div class="form-group">
	      	<span class="displayUsername"></span>
	        <input type="text" placeholder="Choose a username" class="form-control username">
	      </div>
	      <button class="btn btn-success setUsername">Sign in</button>
	    </div>
	  </div><!--/.navbar-collapse -->
	</div>
</div>


<div class="row mainSection">
  <div class="col-lg-7 col-lg-offset-1 well">
    <h2>Chat Window</h2>
    <div class="chatWindow"></div>
	<div class="inputFieldContainer">
		<input type="text" placeholder="talk" class="form-control inputField" />
	</div>	
  </div>
  <div class="col-lg-3 col-lg-offset-1 well">
    <h2>Users</h2>
    <div class="userWindow"></div>
  </div>
</div>
	
}
