@main(null) {

		<label>Username:</label>
		<span class="displayUsername"></span>
		<input class="username" type="text" />
		<button class="setUsername">Set</button>

	<div class="mainSection">	
	<h1>SimpleChat:</h1>
	
	<div class="chatWindowContainer">
		<h2>Chat Window</h2>
		<div class="chatWindow"></div>
		<div class="inputFieldContainer">
			<label>Input Message:</label>
			<input class="inputField" type="text" />
		</div>	
	</div>
	
	<div class="userWindowContainer">
		<h2>User Window</h2>
		<div class="userWindow"></div>
	</div>
	</div>
	
	
}
